# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Force www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^citraprisma.com [NC]
RewriteRule ^(.*)$ https://www.citraprisma.com/$1 [L,R=301,NC] 

#redirect http to https
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteRule ^shop/?$ /shop/

# RewriteEngine On 
# RewriteRule ^img/(.*)$ https://res.cloudinary.com/citraprisma/image/upload/f_auto,q_auto:low,e_blur:5,$1 [R=302,NC,L]

# Force remove trailing slash
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)/$ /$1 [L,R]

# Force trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*[^/])$ /$1/ [L,R]

# Force access to file first instead of folder
# DirectorySlash Off 
# RewriteEngine on 
# RewriteCond %{REQUEST_FILENAME}\.html -f
# RewriteRule ^(.*)  /$1.html [L]

# Enable authorization
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

<IfModule mod_mime.c>
    AddType application/manifest+json webmanifest
    AddType text/javascript js mjs
</IfModule>

# BEGIN Expire headers  
<IfModule mod_expires.c>  
  # Turn on the module.
  ExpiresActive on
  # Set the default expiry times.
  ExpiresDefault "access plus 2 days"
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType text/plain "access plus 1 year"
  ExpiresByType application/manifest+json "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType text/html "access plus 600 seconds"

  AddType application/x-font-woff2 .woff2
  ExpiresByType application/x-font-woff2  "access plus 1 year"
</IfModule>  
# END Expire headers  

# Rules to correctly serve gzip compressed CSS and JS files.
# Requires both mod_rewrite and mod_headers to be enabled.
<IfModule mod_headers.c>
    RewriteEngine on
    # Brotli
    RewriteCond %{HTTP:Accept-encoding} br
    RewriteCond %{REQUEST_URI} .*\.(css|html|js|mjs)
    RewriteCond %{REQUEST_FILENAME}.br -s
    RewriteRule ^(.+) $1.br
    
    RewriteRule "\.css\.br$" "-" [T=text/css,E=no-brotli,E=no-gzip]
    RewriteRule "\.html\.br$" "-" [T=text/html,E=no-brotli,E=no-gzip]
    RewriteRule "\.js\.br$" "-" [T=application/javascript,E=no-brotli,E=no-gzip]
    RewriteRule "\.mjs\.br$" "-" [T=application/javascript,E=no-brotli,E=no-gzip]
    
    RewriteCond %{HTTP:Accept-Encoding} gzip
    RewriteCond %{REQUEST_URI} .*\.(css|html|js|mjs)
    RewriteCond %{REQUEST_FILENAME}.gz -s
    RewriteRule ^(.+) $1.gz
    
    RewriteRule "\.css\.gz$" "-" [T=text/css,E=no-brotli,E=no-gzip]
    RewriteRule "\.html\.gz$" "-" [T=text/html,E=no-brotli,E=no-gzip]
    RewriteRule "\.js\.gz$" "-" [T=application/javascript,E=no-brotli,E=no-gzip]
    RewriteRule "\.mjs\.gz$" "-" [T=application/javascript,E=no-brotli,E=no-gzip]
    <FilesMatch "\.(css|html|js|mjs)\.br$">
         RemoveLanguage .br
         Header set Content-Encoding br
         Header append Vary Accept-Encoding
    </FilesMatch>
    <FilesMatch "\.(css|html|js|mjs)\.gz$">
         Header set Content-Encoding gzip
         Header append Vary Accept-Encoding
    </FilesMatch>
</IfModule>

# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php8_module>
   php_flag display_errors Off
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit -1
   php_value post_max_size 32M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/opt/alt/php81/var/lib/php/session"
   php_value upload_max_filesize 32M
   php_flag zlib.output_compression Off
</IfModule>
<IfModule lsapi_module>
   php_flag display_errors Off
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit -1
   php_value post_max_size 32M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/opt/alt/php81/var/lib/php/session"
   php_value upload_max_filesize 32M
   php_flag zlib.output_compression Off
</IfModule>
# END cPanel-generated php ini directives, do not edit

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “alt-php81” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-alt-php81 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
