:root {
  --c-primary: #02824a;
  --c-orange: darkorange;
}
html {
  font-family: 'Dosis', sans-serif;
}
ol, ul { padding-left: 17px; }
ol { list-style-type: decimal; }
ul { list-style-type: disc; }
hr {
  border-color: #e5e7eb;
}
p {
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: justify;
}

.text-primary { color: var(--c-primary) }
.text-orange { color: var(--c-orange) }
.bg-primary { background: var(--c-primary) }
.bg-lightgray { background: #f7f7f7 !important }

table.default-table {
  line-height: 1.25rem;
  width: 100%;
  th, td {
    padding: 0.375rem 0.75rem;
    background-color: rgba(249,250,251,1);
  }
  th { background-color: rgba(243,244,246,1); }
}