:root {
  --c-primary: #02824a;
  --c-orange: darkorange;
}
html {
  font-family: 'Dosis', sans-serif;
}
ol, ul { padding-left: 17px; }
ol { list-style-type: decimal; }
ul { list-style-type: disc; }
hr {
  border-color: #e5e7eb;
}

.text-primary { color: var(--c-primary) }
.text-orange { color: var(--c-orange) }
.bg-primary { background: var(--c-primary) }