:root {
  --c-primary: #02824a;
  --c-orange: darkorange;
}
html {
  font-family: 'Dosis', sans-serif;
}
ol, ul { padding-left: 17px; }
ol { list-style-type: decimal; }
ul { list-style-type: disc; }
hr {
  border-color: #e5e7eb;
}

.text-primary { color: var(--c-primary) }
.text-orange { color: var(--c-orange) }
a.visible {
  color: var(--c-primary);
  text-decoration: underline;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}
a.button {
  color: white;
  background: var(--c-primary);
  text-decoration: none;
  padding: 0.3rem 1.5rem;
  border-radius: 1rem;
}
img.bounded {
  width: 100%;
  object-fit: cover;
  height: 300px;
}
.text-base {
  line-height: 1.75rem;
  text-align: justify;
}

.main-menu>div {
  position: relative;
  &:not(:last-child):after {
    content: " ";
    background: #ffffffee;
    width: 2px;
    position: absolute;
    right: 0;
    top: 30%;
    bottom: 30%;
  }
  >.menu { 
    color: white !important;
    text-decoration: none;
  }
}
.mobile-main-menu {
  height: 70px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--c-primary);
  padding: .3rem;
  z-index: 29;
  img {
    filter: invert(1);
  }
}