a.visible {
  color: var(--c-primary);
  text-decoration: underline;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}
a.button {
  color: white;
  background: var(--c-primary);
  text-decoration: none;
  padding: 0.3rem 1.5rem;
  border-radius: 1rem;
}
img.bounded {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.main-menu>div {
  position: relative;
  &:not(:last-child):after {
    content: " ";
    background: #ffffffee;
    width: 2px;
    position: absolute;
    right: 0;
    top: 30%;
    bottom: 30%;
  }
  >.menu { 
    color: white !important;
    text-decoration: none;
  }
}
.mobile-main-menu {
  height: 70px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--c-primary);
  padding: .3rem;
  z-index: 29;
  img {
    filter: invert(1);
  }
}

.projects {
  > * { 
    position: relative; 
    aspect-ratio: 4 / 3;
  }
  img { 
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }
  span {
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0.25rem;
    left: 0.25rem;
    right: 0.25rem;
    color: white;
    font-size: 13px;
    padding: 5px;
    text-align: center;
  }
}